.yt-fixed {
    width: 320px;
    margin-left: 70px;
}

.no-click {
    pointer-events: none;
}

.hiddenVideo {
    opacity: 0;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}