name: Deploy to Production
on:
  push:
    branches: [ main ] # La pipeline parte ogni volta che fai un push su main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Scarica il codice dal repository
      - name: 'Checkout source code'
        uses: actions/checkout@v4

      # 2. Installa la Salesforce CLI sul server di GitHub
      - name: 'Install Salesforce CLI'
        run: |
          npm install -g @salesforce/cli

      # 3. Autenticazione alla Org usando il Secret salvato
      - name: 'Authenticate to Salesforce'
        run: |
          echo "$SF_AUTH_URL_SECRET" > auth_url.txt
          sf org login sfdx-url --sfdx-url-file auth_url.txt --set-default --alias prod
          rm auth_url.txt
        env:
          SF_AUTH_URL_SECRET: ${{ secrets.SF_AUTH_URL }}

      # 4. Deploy del codice con esecuzione dei Test (Obbligatorio per i Trigger)
      - name: 'Deploy and Run Tests'
        run: |
          sf project deploy start --target-org prod --test-level RunLocalTests --wait 10